body {
  background-color: snow;
  color: midnightblue;
  margin: 20px 50px 75px 50x;
}

img {
  width: 79px
}

#right {
  float: right
}

.header {
  background-color: midnightblue;
  color: snow;
  text-align: center;
  padding: 10px
}

h2 {
  background-color: midnightblue;
  color: snow;
  padding: 10px
}

.publications {
  border: 1px solid midnightblue;
  margin: 0px 10px 10px 10px
}
