body {
  background-color: snow;
  color: midnightblue;
  margin: 20px 50px 75px 50x;
}

img {
  width: 80px
}

#right {
  float: right
}

.flip {
  transform: scaleX(-1)
}

#left {
  float:left
}

.header {
  background-color: rgba(25,25,112, 0.5);
  color: midnightblue;
  border: 1px solid midnightblue;
  text-align: center;
  padding: 10px
}

h2 {
  background-color: rgba(25,25,112, 0.5);
  color: midnightblue;
  border: 1px solid midnightblue;
  text-align: center;
  padding: 10px
}

.notbold {
  font-weight: normal;
}

.publications {
  border-left: 1px solid midnightblue;
  border-right: 1px solid midnightblue;
  border-bottom: 1px solid midnightlbue;
}
