body {
  background-color: snow;
  color: midnightblue;
  margin: 20px 50px 75px 50x;
}

img {
  width: 79px
}

#right {
  float: right
}

.header {
  background-color: midnightblue;
  color: snow;
  text-align: center;
  padding: 10px
}

h2 {
  background-color: midnightblue;
  color: snow;
  text-align: center;
  padding: 10px
}

.notbold {
  font-weight: normal;
}

.publications {
  border-left: 1px solid midnightblue;
  border-right: 1px solid midnightblue;
  border-bottom: 1px solid midnightlbue;
}
